FlowSnippets/Azure AD Group Members.txt
{"id":"2c2dab6e-a3ed-402b-9c56-cc6b-ae18a917","brandColor":"#8C3900","connectionReferences":{"shared_sharepointonline":{"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/connections/a0ed098f502a4ca4bb59859b743dc374"}},"shared_azuread":{"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_azuread/connections/shared-azuread-341058d6-303c-463a-87f9-94753e5df039"}},"shared_office365groups":{"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_office365groups/connections/107f997340f94a4fabd63ebdc25a6d10"}}},"connectorDisplayName":"Control","icon":"data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzhDMzkwMCIvPg0KIDxwYXRoIGQ9Im04IDEwaDE2djEyaC0xNnptMTUgMTF2LTEwaC0xNHYxMHptLTItOHY2aC0xMHYtNnptLTEgNXYtNGgtOHY0eiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+DQo=","isTrigger":false,"operationName":"Azure_Group_Members","operationDefinition":{"type":"Scope","actions":{"Get_Azure_Group_Members":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_azuread","operationId":"GetGroupMembers","apiId":"/providers/Microsoft.PowerApps/apis/shared_azuread"},"parameters":{"id":"5c122444-da15-4d10-8268-f52f2d08f162"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{}},"Select_emails":{"type":"Select","inputs":{"from":"@outputs('Get_Azure_Group_Members')?['body/value']","select":"@item()?['mail']"},"runAfter":{"Get_Azure_Group_Members":["Succeeded"]}},"Azure_Group_Member_Emails":{"type":"Compose","inputs":"@join(body('Select_emails'),';')","runAfter":{"Select_emails":["Succeeded"]}}},"runAfter":{"Office_365_Group_Members":["Succeeded"]}}}