FlowSnippets/Office 365 Group Members.txt
{"id":"2dbf9030-c458-47de-88ae-a7ca-66825527","brandColor":"#8C3900","connectionReferences":{"shared_sharepointonline":{"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/connections/a0ed098f502a4ca4bb59859b743dc374"}},"shared_azuread":{"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_azuread/connections/shared-azuread-341058d6-303c-463a-87f9-94753e5df039"}},"shared_office365groups":{"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_office365groups/connections/107f997340f94a4fabd63ebdc25a6d10"}}},"connectorDisplayName":"Control","icon":"data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzhDMzkwMCIvPg0KIDxwYXRoIGQ9Im04IDEwaDE2djEyaC0xNnptMTUgMTF2LTEwaC0xNHYxMHptLTItOHY2aC0xMHYtNnptLTEgNXYtNGgtOHY0eiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+DQo=","isTrigger":false,"operationName":"Office_365_Group_Members","operationDefinition":{"type":"Scope","actions":{"List_group_members":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365groups","operationId":"ListGroupMembers","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365groups"},"parameters":{"groupId":"48ace389-403c-416f-8bf0-292119160123"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{}},"Select_Mail":{"type":"Select","inputs":{"from":"@outputs('List_group_members')?['body/value']","select":"@item()?['mail']"},"runAfter":{"List_group_members":["Succeeded"]}},"Office_365_Group_User_Emails":{"type":"Join","inputs":{"from":"@body('Select_Mail')","joinWith":";"},"runAfter":{"Select_Mail":["Succeeded"]}}},"runAfter":{"SharePoint_Group_Members":["Succeeded"]}}}