FlowSnippets/SP Group Members.txt
{"id":"e135d528-5aeb-4a1c-92be-9d3d-a5ffb8f2","brandColor":"#8C3900","connectionReferences":{"shared_sharepointonline":{"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/connections/a0ed098f502a4ca4bb59859b743dc374"}},"shared_azuread":{"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_azuread/connections/shared-azuread-341058d6-303c-463a-87f9-94753e5df039"}},"shared_office365groups":{"connection":{"id":"/providers/Microsoft.PowerApps/apis/shared_office365groups/connections/107f997340f94a4fabd63ebdc25a6d10"}}},"connectorDisplayName":"Control","icon":"data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzhDMzkwMCIvPg0KIDxwYXRoIGQ9Im04IDEwaDE2djEyaC0xNnptMTUgMTF2LTEwaC0xNHYxMHptLTItOHY2aC0xMHYtNnptLTEgNXYtNGgtOHY0eiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+DQo=","isTrigger":false,"operationName":"SharePoint_Group_Members","operationDefinition":{"type":"Scope","actions":{"Get_SharePoint_Group_Members":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"HttpRequest","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://thepoweraddicts.sharepoint.com/sites/HelpCenter","parameters/method":"GET","parameters/uri":"_api/web/sitegroups(5)/users"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{}},"SP_Group_Member_Emails":{"type":"Compose","inputs":"@join(body('Select_Member_Emails'),';')","runAfter":{"Select_Member_Emails":["Succeeded"]}},"Select_Member_Emails":{"type":"Select","inputs":{"from":"@outputs('Get_SharePoint_Group_Members')?['body']?['d']?['results']","select":"@item()?['Email']"},"runAfter":{"Get_SharePoint_Group_Members":["Succeeded"]}}},"runAfter":{}}}